{#
/**
 * @file
 * Template for Cloudflare bulk upload form.
 *
 * Variables:
 * - form: The bulk upload form.
 * - results: Upload results array.
 */
#}

<div class="cloudflare-bulk-upload">
  {% if results %}
    <div class="upload-results">
      {% if results.success_count > 0 %}
        <div class="messages messages--status">
          {{ 'Successfully uploaded @count files to Cloudflare.'|t({'@count': results.success_count}) }}
        </div>
      {% endif %}
      
      {% if results.error_count > 0 %}
        <div class="messages messages--error">
          {{ '@count files failed to upload.'|t({'@count': results.error_count}) }}
          {% if results.errors %}
            <ul>
              {% for error in results.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endif %}
  
  {{ form }}
</div>